# Ambientes virtuais (se você criou um)
venv/
.venv/

# Cache do Python
__pycache__/
*.py[cod]

# Pastas de build e executáveis
build/
dist/
*.spec

# A antiga pasta que você não quer mais
python_portable/